# Compiled source #
###################
*.dll
*.dll.config
*.pdb
*.exe
*.db

#folders#
#########
BooksAPI.Test/bin/*
BooksAPI.Test/obj/*
BooksAPI/bin/*
BooksAPI/obj/*
InvoiceCalculator*
packages/*
TestResults/*
.vs/*